{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <div class="text-center mb-3">
    <h2>{{ object.model }}</h2>
    <p>Esta é uma breve descrição da imagem que está centralizada na página.</p>
  </div>
  <div class="image-container">
    <img src="{{ object.photo.url }}" class="img-fluid" alt="Descrição da imagem" />
  </div>
  <div class="image-attributes mt-3">
    <p>Ano Fabricado: {{ object.factory_year }}</p>
    <p>Ano Modelo: {{ object.model_year }}</p>
    <p>Placa: {{ object.plate }}</p>
    <p>Preço: R${{ object.value }}</p>
    {% if user.is_authenticated %}
      <a href="{% url 'car_update' pk=object.pk %}" class="btn btn-primary">Atualizar</a>
      <a href="{% url 'car_delete' pk=object.pk %}" class="btn btn-danger">Deletar</a>
    {% endif %}
  </div>
  {% endblock content %}
</div>
